<h1>Gotta Catch 'Em All!</h1>

<% @trainers.each do |trainer| %>
	<h2><b><%= trainer.name %></b></h2>
	<br />
	<% trainer.pokemons.each do |pokemon| %>
		<p><%= pokemon.name %></p><br />
	<% end %>
<% end %>
